<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Sobre</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                "Escolhi Turmalina Negra como marca das minhas confeções pelo potencial de sua energia.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Visando assim trazer para meus clientes além de glamour, a possibilidade de vestir uma energia da terra." - Eva P. de Oliveira
            </p>
        </div>
    </div>
</section>
